.elementor-194 .elementor-element.elementor-element-546751e:not(.elementor-motion-effects-element-type-background), .elementor-194 .elementor-element.elementor-element-546751e > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("http://babyyogini13.com/wp-content/uploads/2021/06/ukai-photo-creations-scaled.jpg");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-194 .elementor-element.elementor-element-546751e > .elementor-background-overlay{opacity:0.5;transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-194 .elementor-element.elementor-element-546751e{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;overflow:visible;}.elementor-194 .elementor-element.elementor-element-546751e > .elementor-shape-top svg{width:calc(100% + 1.3px);height:90px;}.elementor-194 .elementor-element.elementor-element-7d2b1be{overflow:visible;}.elementor-194 .elementor-element.elementor-element-cf4c45b .elementor-heading-title{color:var( --e-global-color-41f1e39 );font-family:"Fira Mono", Sans-serif;font-size:20px;font-weight:700;line-height:25px;}.elementor-194 .elementor-element.elementor-element-58f4f7f{text-align:justify;color:var( --e-global-color-48d5e1e );}.elementor-194 .elementor-element.elementor-element-58f4f7f > .elementor-widget-container{margin:0px 0px 8px 0px;padding:0px 0px 20px 0px;}.elementor-194 .elementor-element.elementor-element-972eb20 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(8px/2);}.elementor-194 .elementor-element.elementor-element-972eb20 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(8px/2);}.elementor-194 .elementor-element.elementor-element-972eb20 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(8px/2);margin-left:calc(8px/2);}.elementor-194 .elementor-element.elementor-element-972eb20 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-8px/2);margin-left:calc(-8px/2);}body.rtl .elementor-194 .elementor-element.elementor-element-972eb20 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-8px/2);}body:not(.rtl) .elementor-194 .elementor-element.elementor-element-972eb20 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-8px/2);}.elementor-194 .elementor-element.elementor-element-972eb20 .elementor-icon-list-icon i{color:var( --e-global-color-48d5e1e );font-size:20px;}.elementor-194 .elementor-element.elementor-element-972eb20 .elementor-icon-list-icon svg{fill:var( --e-global-color-48d5e1e );width:20px;}.elementor-194 .elementor-element.elementor-element-972eb20 .elementor-icon-list-text{color:var( --e-global-color-48d5e1e );padding-left:5px;}.elementor-194 .elementor-element.elementor-element-c727401{--grid-template-columns:repeat(0, auto);--grid-column-gap:5px;--grid-row-gap:0px;}.elementor-194 .elementor-element.elementor-element-c727401 .elementor-widget-container{text-align:left;}.elementor-194 .elementor-element.elementor-element-c727401 .elementor-social-icon{background-color:#B445B4;}.elementor-194 .elementor-element.elementor-element-e74fc52 .elementor-heading-title{color:var( --e-global-color-41f1e39 );font-family:"Poppins", Sans-serif;font-size:20px;font-weight:700;line-height:25px;}.elementor-194 .elementor-element.elementor-element-55495bd .elementor-nav-menu--main .elementor-item{color:var( --e-global-color-48d5e1e );}.elementor-194 .elementor-element.elementor-element-72c4925 .elementor-heading-title{color:var( --e-global-color-41f1e39 );font-family:"Poppins", Sans-serif;font-size:20px;font-weight:700;line-height:25px;}.elementor-194 .elementor-element.elementor-element-c8b6833 > .elementor-widget-container{padding:5px 5px 5px 5px;}.elementor-194 .elementor-element.elementor-element-36e3f00{text-align:center;}.elementor-194 .elementor-element.elementor-element-36e3f00 .elementor-heading-title{color:var( --e-global-color-0b6748f );font-family:"Roboto", Sans-serif;font-weight:600;}.elementor-194 .elementor-element.elementor-element-36e3f00 > .elementor-widget-container{background-color:var( --e-global-color-48d5e1e );}/* Start custom CSS for html, class: .elementor-element-c8b6833 */.newletter-content{
    position: relative;
    padding: 0;
    margin: 0;
}
.newletter-content .nlc-input{
    margin: 0;
    width: 75%;
    height: 40px;
    outline:none;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
}
.newletter-content .nlc-btn{
    margin: 0;
    width: 23%;
    height: 41.5px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 10px;
    background: #0A134B;
    border:none;
    color: white;
}/* End custom CSS */