.jet-mobile-menu-single .jet-menu-icon {-webkit-align-self:center; align-self:center; }.jet-mobile-menu-single .jet-menu-badge {-webkit-align-self:center; align-self:center; }.jet-menu-item-112 > .jet-sub-mega-menu {width:500px !important;; }